body {
  background-color: lightblue;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1ch;
  justify-content: space-between;
  background-color: black;
  color: cornflowerblue;
}

.links {
  font-size: 40px;
}
.logo {
  font-size: 20px;
}
.active{
    color: aliceblue;
}

main {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
}

img {
  width: 500px;
  height: auto;
  align-self: center;
}

.blackBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  z-index: 100;
}

#section1 {
  justify-self: center;
  text-align: center;
}

@media (width <= 600px) {
  body {
    background-color: rgb(8, 95, 177);
    margin: 0%;
    width: 100%;
    height: 100vh;
  }
  main {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  #blackBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    z-index: 100;
  }
  nav {
    display: flex;
    flex-direction: row;
    gap: 10ch;
    justify-content: space-evenly;
    background-color: black;
    color: cornflowerblue;
  }
}